.masthead.clearfix
  .inner
    %h3.masthead-brand
.inner.cover.text-center
  %h1.cover-heading Elected
  %p.lead Objectively evaluate and measure politician performance
  %p.lead
    %a.btn.btn-lg.btn-default{:href => "http://intense-missile-52-168583.use1.nitrousbox.com/election/1"} Let's Talk About the Issues
    %br
    %br
    %br
    %br
    %br
    %br
    %br
.mastfoot