Select the issues that you're interested in 

- aa = []

- @candidates.each do |i|
  - i.standpoints.each do |j|
    - aa << j.name
    
    
- aa = aa.uniq

%ul
- aa.uniq.each do |q|
  %p
    %button.large{:class => q.gsub(" ", ""), :onclick => '$(search).val($(search).val() + "' + q + '" + \';\')'}= q

%p

= form_tag elections_path, :method => 'get' do
  = text_field_tag :search, params[:search], :value=> ''#, :hidden => true
  = submit_tag "Update", :name => nil